<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">

    <div class="container">
        {% if request.user.is_authenticated %}
            <img src="{{ user.profile.image.url }}" width="40" height="40" alt=""
                 href="{% url 'accounts:dashboard' request.user.username %}"
                 class="rounded mx-2 d-block">
        {% endif %}

        <a class="navbar-brand" href="{% url 'search' %}">Car<span>Book</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item active"><a class="nav-item nav-link" href="{% url 'search' %}">Home</a></li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item"><a class="nav-item nav-link"
                                            href="{% url 'accounts:dashboard' request.user.username %}">dashboard</a>
                    </li>
                    <li class="nav-item"><a class="nav-item nav-link" href="{% url 'accounts:logout' %}">Logout</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-item nav-link" href="{% url 'accounts:login' %}">Login</a></li>
                    <li class="nav-item"><a class="nav-item nav-link" href="{% url 'accounts:register' %}">Register</a>
                    </li>
                {% endif %}
                {% if request.user.is_superuser %}
                    <li class="nav-item"><a class="nav-item nav-link" href="{% url 'club:bucket_home' %}">Bucket</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
