{% extends 'base.html' %}
{% load static %}

{% block title %}
    search page
{% endblock %}

{% block container %}
    <section class="hero-wrap hero-wrap-2 js-fullheight"
             style="background-image: url('{% static "images/bg_3.jpg" %}');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
                <div class="col-md-9 ftco-animate pb-5">
                    <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'search' %}">Home <i
                            class="ion-ios-arrow-forward"></i></a></span> <span>Cars <i
                            class="ion-ios-arrow-forward"></i></span></p>
                    <h1 class="mb-3 bread">{{ pick }} to {{ drop }}</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block content %}
    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row">
                {% include 'external/messages.html' %}
                {% for search_result in search_results %}

                    <div class="col-md-4">
                        <div class="car-wrap rounded ftco-animate">
                            <div class="img rounded d-flex align-items-end"
                                 style="background-image: url('{{ search_result.vehicle_info.image_thumbnail_url }}');">
                            </div>
                            <div class="text">
                                <h2 class="mb-0"><a href="car-single.html">{{ search_result.vehicle_info.v_name }}</a>
                                </h2>
                                <div class="d-flex mb-3">
                                    <span class="cat">{{ search_result.vehicle_info.group }}</span>
                                    <p class="price ml-auto">${{ search_result.pricing_info.price }}</p>
                                </div>
                                <div class="d-flex mb-3">
                                     <span class="cat">supplier</span>
                                  <p class="ml-auto">  <img src="{{ search_result.supplier_info.logo_url }}" alt="" width="64"
                                         class=" mx-auto d-block"></p>
                                </div>
                                <p class="d-flex mb-0 d-block"><a
                                        href="https://cars.booking.com/package/deal/{{ search_key }}/{{ search_result.vehicle_info.v_id }}"
                                        class="btn btn-primary py-2 mr-1">Book
                                    now</a> <a
                                        href="{% url 'vehicles-detail' search_result.vehicle_info.v_id search_key pick drop %}"
                                        class="btn btn-secondary py-2 ml-1">Details</a></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}