{% extends 'base.html' %}
{% load static %}

{% block container %}
    <section class="hero-wrap hero-wrap-2 js-fullheight"
             style="background-image: url('{% static "images/bg_3.jpg" %}');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
            </div>
        </div>
    </section>
{% endblock container %}

{% block content %}
    <div  class="text text-center">
       <h3>403 </h3><p>Access Forbidden</p>
    </div>
{% endblock %}